.header__logo {
    max-height: 33px;
    max-width: 142px;
    margin-bottom: 41px;
}

@media screen and (max-width: 880px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 685px) {
    .header__logo {
        max-height: 25px;
        max-width: 104px;
        margin-bottom: 32px;
    }
}