.element__like {
    min-height: 19px;
    min-width: 22px;
    background-image: url('../../../images/Like.svg');
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 22px 19px;
    margin: 0 1px 3px;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.element__like:hover {
    opacity: 0.5;
}

