.profile__photo-edit {
    position: relative;
    display: block;
    min-width: 130px;
    min-height: 130px;
    margin: 0;
}

.profile__photo-edit:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
}

.profile__photo-edit:hover .profile__photo {
    float: left;
}

@media screen and (max-width: 700px) {
    .profile__photo-edit {
        margin: 0 auto 0;
    }
}