.header {
    max-width: 880px;
    margin: 0 auto 36px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px){
    .header {
        max-width: 700px;
    }
}

@media screen and (max-width: 700px){
    .header {
        padding-top: 28px;
        margin-bottom: 38px;
    }
}

